<section id="login">
	<ul>
		<li><a href="/register">Регистрация</a></li>
		<li><a href="/login">Войти</a></li>
		<li><a href="/logout">Выйти</a></li>
	</ul>
</section>
<nav>
	<ul id="menu">
		<li> <a href="/">Главная</a></li>
		<li><a href="/about">О нас</a></li>
		<li><a href="/contact">Контакты</a></li>
		<li> <a href="/chat">Чат</a></li>
	</ul>
</nav>