<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
    <div id="content" style="style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;""></div>
    <form action="" id="form" onsubmit='return false'>
        <input type="text" id="field" stle='width:350px;'>
        <input type='submit' id="send" value='Послать' >
    </form>
    <script src='/chat.js' ></script>
    <script src='/socket.io/socket.io.js' ></script>
</body>
</html>